$primary-color:rgb(226, 158, 12);

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    
}
header>.container> h1{
    color: rgb(177, 182, 24);
    padding-top: 20px;
}
a{
text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
header{
    background-color: rgb(67, 63, 63);
}
header>.container>h1{
    padding-top: 30px;
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;

}

header>.container>nav>ul{
    display: flex;
    // justify-content: space-between;
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height: 100px;
    color: $primary-color;
    font-size: 2em;
    letter-spacing: 2px;
}
//內容區塊-------------------

.img-fluid{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: 33.3333%;
}
