@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    
}
header>.container> h1{
    color: rgb(17, 105, 143);
    padding-top: 20px;
}
a{
text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
header{
    background-color: rgb(205, 236, 238);
}
header>.container>h1{
    padding-top: 30px;
}
header>.container>h1>a{
    color: rgba(28, 110, 106, 0.701);
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1140px;

}

header>.container>nav>ul{
    display: flex;
    // justify-content: space-between;
}
header>.container>nav>ul>li{
    margin-right: 30px;
}
header>.container>nav>ul>li>a{
    line-height: 100px;
    color: rgb(21, 106, 158);
    font-size: 2em;
    letter-spacing: 2px;
}
//===========================
//內容區塊-------------------
//===========================

//圖片相關樣式
.img-rounded{
    border-radius: 10px;
}
.img-fluid{
    width: 100%;
}

//文字樣式
.text-center{
    text-align:center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify {
    text-align: justify;
  }
  

//區塊樣式
.row{
    display: flex;
    flex-wrap: wrap;
    //換行
}
.col-3 {
    width: calc(100% / 5 - 40px);
    margin: 0px 20px 40px 20px;
    /*上右下左*/
  }
  .col-9 {
    width: calc(100% / 1.3333333 - 30px);
    margin: 0px 15px 40px 15px;
    /*上右下左*/
  }

.col-4{
    width:calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
}
.col-6{
    width: calc(100% / 2 - 30px);
    margin: 0px 15px 40px 15px;
}
.title a{
    color: black;
    font-size: 1.2em;
    font-weight: 700;
}
.date{
    color: rgb(32, 148, 250);
}
h1{
    font-size: 2em;
  margin: 60px auto 30px auto;
}

footer{
    background-color: rgb(165, 197, 200);
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 10px;
}
dd{
    margin-bottom: 4px;
}
dd>a{
    color: rgb(247, 255, 255);
}
.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
.breadcrumb a{
    color: #2b84ba;
  }
.w-20{
    width: 20%;

  }
.w-80{
    width: 80%;

  }