
doctype html 
head 
    title 
    link(rel="stylesheet", href="public/css/styles.css")
body 
    header 
        .container 
            ul 
                li 
                    a(href="#") 關於我們
                li 
                    a(href="#") 校園日誌
                li 
                    a(href="#") 實習計畫
                li 
                    a(href="#") 聯絡我們
    .container 
        .row 
            .col-6 
                p 左邊
            .col-6 
                p 右邊
    footer 
        .container copyright